body {
    background-color: wheat;
    color: crimson;
}

#cakeContainers {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
    border-color: black;
    border: 1em;

}